header {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #333;
    color: #fff;
    padding: 20px;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

svg {
    border: 1px solid #ccc;
    fill: #6f9c76;
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.county {
    cursor: pointer;
    transition: fill 0.3s;
}

.county:hover {
    fill: #FFEB3B;
}

.county-hit:hover {
    fill: #FFEB3B;
}

.county.selected {
    fill: #FF5722;
}

.county-hit.selected {
    fill: #FF5722;
}

.county-hit {
    fill: transparent;
    stroke: transparent;
    cursor: pointer;
    stroke-width: 50;
    pointer-events: visibleStroke;
}

#card-container {
    width: 300px;
    min-height: 450px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-panel {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
}

.info-panel.selected {
    opacity: 1;
}